* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --headerWidth: 60px; 
}

.canvas {
    color: white !important;
}

/* Pour gérer les autocomplétion de texte qui changent de couleurs */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  color: white;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: white;
  font-size: initial;
  font-size: 15px;
}

.webkit-red {
    -webkit-text-fill-color:  #FCA5A5 !important;
    color: #FCA5A5 !important;
}

.webkit-green {
    -webkit-text-fill-color: #6EE7B7 !important;
    color: #6EE7B7 !important;
}

.webkit-white {
    -webkit-text-fill-color: white !important;
    color: white !important;
}
    
input {
    caret-color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    /* filter: grayscale(100%) brightness(200%); */
    cursor: pointer;
}

.Vue-Toastification__toast-body.custom-class-1 {
    font-family: 'Poppins', 'sans-serif';
    font-size: 16px;
}

@keyframes swing-in {
    0% {
        opacity: 0;
        transform: translateX(-100px) translateY(0px);
    }
    50% {
        opacity: 0.5;
        transform: translateX(50px) translateY(-10px);
    }
    75% {
        opacity: 0.75;
        transform: translateX(-25px) translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
}

.gradient-border {
    border: 2px solid; 
    border-image: linear-gradient(to bottom right,#494D62 0%,#131620 80%) 1;
}


.gradient-border-x {
    border: 2px solid; 
    border-image: linear-gradient(to bottom right,#494D62 100%,#131620 100%) 1;
    border-top: hidden;
    border-bottom: hidden;
}


/* J'ai utilisé cela pour le bug lors de transitionY avec les textes qui bougeaient horizontalements */
.will-change-transform {
    will-change: transform;
}

input:focus::placeholder {
    color: transparent; 
}
  
.Vue-Toastification__toast {
    padding: 2px;
}


/* Scroll bar style */
::-webkit-scrollbar {
    width: 12px; 
    background-color: #2b2b2b; 
}

::-webkit-scrollbar-thumb {
    background-color: #565656; 
    border-radius: 6px; 
    border: 3px solid #2b2b2b; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #717171; 
}

::-webkit-scrollbar-thumb:active {
    background-color: #a0a0a0; 
}

