*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --headerWidth: 60px; 
}

.apexcharts-yaxis-label {
    transform: translateX(-10px); /* Déplace tous les labels de l'axe Y vers la gauche */
}

.apexcharts-menu {
    color: #ff4560; /* Couleur du texte */
}

/* Pour gérer les autocomplétion de texte qui changent de couleurs */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: white;
  color: white;
  transition: background-color 5000s ease-in-out 0s;
  
}

/* Pour gérer la couleur de l'icone de l'agendra des input date */

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) grayscale(100%) brightness(200%);
}

/* #chart .apexcharts-slices {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4)); 
} */

/* .apexcharts-legend-series {
    display: flex;
    align-items: center;
} */

/* .apexcharts-yaxis-texts-g {
    margin-right: 20px;
    background-color: red;
} */

/* #chart {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4)); 
} */

.gradient-border {
    border: 2px solid; 
    border-image: linear-gradient(to bottom right,#494D62 0%,#131620 80%) 1;
}


.gradient-border-x {
    border: 2px solid; 
    border-image: linear-gradient(to bottom right,#494D62 100%,#131620 100%) 1;
    border-top: hidden;
    border-bottom: hidden;
}


/* J'ai utilisé cela pour le bug lors de transitionY avec les textes qui bougeaient horizontalements */
.will-change-transform {
    will-change: transform;
}
  
