*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --headerWidth: 60px; 
}

.apexcharts-yaxis-label {
    transform: translateX(-10px); /* Déplace tous les labels de l'axe Y vers la gauche */
}

.apexcharts-menu {
    color: #ff4560; /* Couleur du texte */
}

/* #chart .apexcharts-slices {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4)); 
} */

/* .apexcharts-legend-series {
    display: flex;
    align-items: center;
} */

/* .apexcharts-yaxis-texts-g {
    margin-right: 20px;
    background-color: red;
} */

/* #chart {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4)); 
} */

.gradient-border {
    border: 2px solid; 
    border-image: linear-gradient(to bottom right,#494D62 0%,#131620 80%) 1;
}



/* J'ai utilisé cela pour le bug lors de transitionY avec les textes qui bougeaient horizontalements */
.will-change-transform {
    will-change: transform;
}
  
